.about {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 10rem;
  color: white;
  flex-wrap: wrap;
}
.discription {
  flex: 1;
  padding-right: 5rem;
  z-index: 2;
  h2 {
    font-weight: lighter;
    font-size: 2.8rem;
  }
  p {
    padding: 3rem 0rem;
  }
}

.image {
  flex: 1;
  overflow: hidden;
  z-index: 2;
  img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
}

// Wave

.wave {
  position: absolute;
  left: 0;
  z-index: 1;
  display: none;
}

@media screen and (max-width: 1361px) {
  .image {
    width: 50%;
    height: 50vh;
  }
}

@media screen and (max-width: 997px) {
  .about {
    display: block;
    .discription {
      text-align: center;
      margin: 3rem;
    }
    .image {
      margin-left: 12rem;
      width: 50%;
      img {
        width: 100%;
        height: 30vh;
      }
    }
  }
}
